body{
	background: url(../img/ab.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.login{
	color: #988fc7;
	float: right;
	width: 100px;
	height: 40px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.search-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background:#2f3640;
	height: 38px;
	border-radius: 60px;
	padding: 10px;
}

.search-box:hover > .search-txt{
	width: 240px;
	padding: 0 6px;
}

.search-box:hover > .search-btn{
	background: white;
}

.search-btn{
	color: #988fc7;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.search-txt{
	border:none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 200px;
}
